include indicator.pug
include upload-edit.pug

mixin tile(colorModifier, source, title, text, caracterNumber, startDate, editDate, compact, collapsed)
    if !compact
        a.tile(class='color--' + colorModifier, href="#", class=(compact ? 'tile--compact' : false))
            .tile__main
                .tile__source.text=source
                h2.tile__title=title
                p.tile__content=text
            .tile__footer
                .tile__characters= caracterNumber + ' változtatott karacter'
                +indicator()
                +upload-edit(startDate, editDate)
    else
        a.tile(data-original-color=colorModifier class='color--' + (collapsed ? 'default': colorModifier), href="#", class=(compact ? 'tile--compact' : false) class=(collapsed ? 'tile--collapsed' : false))
                .tile__main
                    .tile__title-wrapper
                        h4.tile__title=title
                        span.tile__title-info=caracterNumber + ' változtatott karacter'
                    .tile__indicator
                        +indicator(caracterNumber + ' változtatott karacter', true)
                    .tile__footer
                        .tile__source.text=source
                        +upload-edit(startDate, editDate)